:root {
  --dark: hsl(30, 5%, 9%);
  --light: hsl(48, 31%, 97%);
  --radius-circle: 50%;
  --radius-square: 20%;
  --size-circle: 40px;
  --size-square: 160px;
  font-family: "Inter Variable", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: var(--light);
  color: var(--dark);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --status-bar-background: var(--light);
  background: var(--status-bar-background);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#pwa-toast {
  visibility: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  box-shadow: 3px 4px 5px 0 #8885;
  display: grid;
}
#pwa-toast .message {
  margin-bottom: 8px;
}
#pwa-toast .buttons {
  display: flex;
}
#pwa-toast button {
  border: 1px solid #8885;
  outline: none;
  margin-right: 5px;
  border-radius: 2px;
  padding: 3px 10px;
}
#pwa-toast.show {
  visibility: visible;
}
button#pwa-refresh {
  display: none;
}
#pwa-toast.show.refresh button#pwa-refresh {
  display: block;
}

.box-breathing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 100%;
  margin: 0;
}

.box-breathing-box {
  --duration: 12s;
  --delay: 0ms;
  --opacity: 0.75;
  width: var(--size-circle);
  height: var(--size-circle);
  background: var(--dark);
  opacity: var(--opacity);
  animation: breathe var(--duration) infinite ease;
  animation-delay: var(--delay);
  border-radius: var(--radius-circle);
  mix-blend-mode: multiply;
  transform-origin: center;
}
@keyframes breathe {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
    border-radius: var(--radius-circle);
  }
  25%,
  50% {
    transform: rotate(90deg) scale(4);
    border-radius: var(--radius-square);
  }
  75% {
    transform: rotate(180deg) scale(1);
    border-radius: var(--radius-circle);
  }
}

.clock-container {
  position: absolute;
  text-align: center;
  bottom: env(safe-area-inset-bottom, 0);
  padding-bottom: calc(1rem + env(safe-area-inset-bottom, 0));
  left: 0;
  width: 100%;
}

.clock-time {
  color: var(--dark);
  opacity: 0.3;
  letter-spacing: 0.05em;
  font-size: 1rem;
  font-weight: 300;
}

.dark-theme {
  background: var(--dark);
  color: var(--light);
  --status-bar-background: var(--dark);

  & .clock-time {
    color: var(--light);
    opacity: 0.2;
  }
  & .box-breathing-box {
    background: var(--light);
    mix-blend-mode: screen;
  }
}
